<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
  <form th:action="@{/empresa}" method="post">
      <label for="nombreEmpresa">Nombre</label>
      <input type="text" id="nombreEmpresa" th:field="${empresa.nombreEmpresa}">

      <label for="direccionEmpresa">Direccion</label>
      <input type="text" id="direccionEmpresa" th:field="${empresa.direccionEmpresa}">

      <label for="telefonoEmpresa">Telefono</label>
      <input type="number" id="telefonoEmpresa" th:field="${empresa.telefonoEmpresa}">

      <label for="nit">NIT</label>
      <input type="number" id="nit" th:field="${empresa.nit}">

      <input type="submit" value="Agregar Empresa">

  </form>
</body>
</html>